name: Go CI

on:
  push:
    branches:
      - master
      - develop
      - "feature/small-steps"
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  builds:
    runs-on: ubuntu-latest
    steps:

      - name: Check out repository
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.20'

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v1.9.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

      - name: Build
        run: go build -v

      - name: Test
        # run: go test -v
        run: go test -v **/*_test.go
